# Ignore everything by default
*

# Opt-in: only track these files
!.gitignore
!.gitmodules
!README.md
!CLAUDE.md
!setup.mjs
!package.json
!LICENSE

# Submodules (git handles these automatically via .gitmodules)
!nomercybot-server
!nomercybot-app
!nomercybot-design
