[submodule "nomnomzbot-server"]
	path = nomnomzbot-server
	url = https://github.com/NoMercyLabs/nomnomzbot-server.git

[submodule "nomnomzbot-app"]
	path = nomnomzbot-app
	url = https://github.com/NoMercyLabs/nomnomzbot-app.git

[submodule "nomnomzbot-design"]
	path = nomnomzbot-design
	url = https://github.com/NoMercyLabs/nomnomzbot-design.git
